* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Mallanna', sans-serif;
    overflow: hidden;
}
.homePage{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: lightblue;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    padding: 40px;;
    font-size: 45px;
}

.homebtn{
    width: 180px;
    background: transparent;
}
h3{
  color: #3f0069;
  text-align: center;

}


.sign-up {
    height: 70vh;
    background-color: #586BA9;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 40px;
    width:35vw;
    gap: 1rem;
    gap:1rem;
    border-radius: 7px;
}

.sign-up h1 {
    position: absolute;
    top: 5%;
}

.sign-up input {
    height: 2rem;
    width: 15rem;

    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
}
.signInBtn{
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1em;
    cursor: pointer;

}



.sign-upbtn {
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 0.5em;
    cursor: pointer;
}

.sign-up button:hover {

}

.sign-up p {
    color: rgb(248, 198, 198);
    text-shadow: 1px 1px 0 red;
    font-size: 0.5em;
}


.form-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    justify-items: center;
    align-items: center;
    padding: 40px;





  }
  .mobileForm{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    color:white;
    background-color: #586BA9;
    border-radius: 9px;
    padding: 20px;
    gap:1rem;
  }

  input[type=text] {
    width: 55%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 7px;
  }

  input[type=email] {
    width: 80%;
  padding: 10px 15px;

  box-sizing: border-box;
  border-radius: 7px;
  }


  input[type=password] {
    width: 80%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 7px;
  }




  textarea {

    border-radius: 7px;
    padding:6px;
    }

    .button{
     padding: 9px;
     border-radius: 7px;

     cursor: pointer;
     text-transform: uppercase;
    }
    .button:hover {
        background-color: #3e8e41;
        color: white;
    }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      color: white;
    }
   select {
        width: 80%;
      padding: 10px 15px;
      box-sizing: border-box;
      border-radius: 7px;
      }

    .image-div{
        display: flex;
         object-fit: cover;
         width: 200px;
         height:100%;
         flex:3;

    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card{
        display: flex;
        flex-direction: row;
        border-radius: 7px;
        border: 1px solid black;
        box-shadow: darkgray;
        width: 400px;
        height: 300px;
        padding: 20px;
        gap:1rem;
    }
    .cardInfo{
        display: flex;
        flex-direction: column;
        flex:2;
        gap:1rem;
    }
    .mobile-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 40px;
    }

    .nav{
        display: flex;
        background-color: cadetblue;
        height: 20vh;
        width: 100vw;
        justify-content: space-between;
        flex-direction: column;
        justify-items: center;
        font-size: 30px;
        color: rgb(0, 0, 19);
    }
    .nav-link{
        padding: 7px;
        display: flex;
        width:120px;
        border-radius: 7px;
        background: transparent;
        border: none;
        align-self: flex-end;
        font-size: 15px;

    }
    .navUser{
        display: flex;
        flex-direction: row;


        font-size: 14px;
         justify-content: flex-end;
         justify-items: center;
         align-items: center;
         gap:1rem;


    }

   .catagories{

    width: 500px;
    height: 40px;
    border: 1px solid #999;
    font-size: 18px;
    color: rgb(0, 0, 19);
    background-color: #eee;
    border-radius: 5px;
    outline: none;

   }
   .signin{
       margin-top: 80px;
       display: flex;
       height: 400px;
       width: 500px;
    color:white;
    flex-direction: column;
    background-color: #586BA9;
    border-radius: 9px;
    border: 2px solid black;
    padding: 30px;
    gap:1rem;
   }
   a{
       text-decoration: none;
       color:white;
   }
   .display{
       display: flex;
       flex-direction: row;
       height: 100vh;

   }
   .sidebar{
       display: flex;
       flex-direction: column;
       flex:1;
       border: 1px solid black;
       gap:1rem;
       padding:20px;

   }
   .sidebar-category{
       display: flex;
       justify-content: center;
       border: 1px solid black;
       border-radius: 7px;
       height: 100px;
       justify-items: center;
       align-items: center;
       box-shadow: 5px 10px #888888;
   }
   .details{
    display: flex;
    flex-flow: row wrap;
    width: 100%;


}
.detail-container{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 20px;
    flex:5;
    gap:2rem;
    border-radius: 7px;

}
.add{
    display: flex;
    padding: 7px;;
    width: 150px;
    background-color:cadetblue;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;

    justify-content: center;

}

.categoryIcon{
    padding: 9px;
    border-radius: 7px;
    width: 152px;
    cursor: pointer;
    text-transform: uppercase;
    height: fit-content;
    justify-content: center;
    justify-items: center;
   }
   .categoryIcon:hover {
       background-color: #3e8e41;
       color: white;
   }

   .categoryIcon:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
     color: white;
   }
   .deleteBtn{
    padding: 9px;
    border-radius: 7px;
    width: 100px;
    cursor: pointer;
    text-transform: uppercase;
    height: fit-content;
    justify-content: center;
    justify-items: center;
    font-size: 12px;
   }
   .deleteBtn:hover {
       background-color: rgba(255, 0, 0, 0.87);
       color: white;
   }

   .deleteBtn:active {
     background-color: rgba(255, 0, 0, 0.87);
     box-shadow: 0 5px #666;
     transform: translateY(4px);
     color: white;
   }




